html,
body {
	margin-bottom: 100px;
 	height: auto;
 	font-family: 'Open Sans', sans-serif;
 	z-index: 0;
 	background-color: white;
}

.input, .modal-content, .thunmbnail, .btn, .fileinput-preview{
	border-radius: 0;
}

body.modal-open{
	overflow: hidden;
}

.container{
	margin: 0px  50px 160px 50px;
	padding: 0;
	width: auto;
}

.modal{
	text-align: center;
}

.modal-header{
  background-color: #3A3E3E;
  color: white;
}

.modal-text-header{
	font-size: 1.2em;
	font-weight: bold;
}

.modal-header button{
  color: red;
}

.close:hover{
  color: red;
}

.navbar{
	padding-top: 100px;
	border: 0px;
	background-color: #3A3E3E;
	border-radius: 0;
	padding-bottom: -1px;
}

.navbar-default .navbar-nav > .active > a{
	background-color: white;
}

.navbar-default .navbar-nav > li{
	margin-left: 3px;
}

.navbar-default .navbar-nav > li > a, .navbar .navbar-header a{
	background-color: #739240;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar .navbar-header a:hover{
	background-color: white;
	color: #3A3E3E;
}

.navbar-default .navbar-nav  li > a:link, .navbar .navbar-header a:link{
	background-color: #739240;
}

.navbar .navbar-header{
	margin-left: 50px;
}

.navbar-default .navbar-nav > li > #kanan{
	margin-right: 50px;
}

.pad-section { padding: 50px 0; }

.pad-section img { width: 100%; }

/*thread di sini*/
.thread-category{
	margin: 0;
	padding: 5px 0px 5px 5px;
	color: white;
	font-size: 1.2em;
	font-weight: 500;
	background: #3A3E3E none repeat scroll 0% 0%;
}

#group1 .container{
	margin-bottom: 30px;
}

.thread-subthreadlist{
	background-color: #EDF3E2;
	padding: 10px;
}

.thread-subthread{
	background-color: white;
	border-bottom: 1px solid #e1e1e1;
}

.subthread-icon{
	font-size: 30px;
	color: #9C9E9E;
	margin: 0;
	display: block;
	margin-left: 15px;
}

.subthread-judul a{
	font-size: 1.3em;
	text-decoration: none;
	color: black;
}

.subthread-isi{
	margin-left: -15px;
}

#judul-sub{
	margin-bottom: 0;
}

.category-header{
	background-color: #3A3E3E;
	padding: 10px;
	color: white
}

.category-header a{
	text-decoration: none;
	color: #ddd;
	padding-left: 15px;
}

.category-header a:hover{
	color: white;
}

.pad-left{padding-left: 15px;}
.pad-bottom{padding-bottom: 15px;}
.pad-right{padding-right:15px;}
.pad-top{padding-top: 15px;}

/*komen di sini*/



/*footer di sini*/
.footerku{
	margin: 0 20px;
	position: fixed;
	bottom: 50px;
	z-index: -2;
	height: 50px;
	width: 100%
}