html,
body {
  height: 100%;
  width: 100%;
}

.pad-section { padding: 50px 0; }

.pad-section img { width: 100%; }

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#box1 {
  background: darkblue;
  color: white;
  display: table;
  height: 300px;
  width: 100%;
}

#box2 {
  background-color: #EA8200;
  color: white;
}

#box3 {
  background-color: #182C3C;
  color: white;
  height: 100%;
}

.navbar-default .navbar-nav > .active > a{
	margin-bottom: 0;
}

.navbar{
	margin-bottom: 0;
}

.goToTop {
  position: fixed;
  top: 0;
  height: 53px;
  z-index: 1;
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
}

nav li { background: #f8f8f8; }

.fileinput{
	margin-left: 30%;
}
 
.modal{
	font-size: 1em;
}

.input, .modal-content, .thunmbnail, .btn, .fileinput-preview{
	border-radius: 0;
}

body.modal-open {
    overflow: hidden;
}

.modal-text-header{
	font-size: 1.2em;
	font-weight: bold;
}

footer { padding: 20px 0; }

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}

footer .glyphicon:hover { color: #EE2E24; }