html,
body {
  height: auto;
  width: 100%;
  margin-bottom: 160px;
  font-family: 'Open Sans', sans-serif;
}

.navbar{
	padding-top: 100px;
	border: 0px;
	background-color: #3A3E3E;
	border-radius: 0;
	padding-bottom: -1px;
}

.navbar-default .navbar-nav > .active > a{
	background-color: white;
}

.navbar-default .navbar-nav > li{
	margin-left: 3px;
}

.navbar-default .navbar-nav > li > a{
	background-color: #90C564;
	color: white;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover{
	background-color: white;
	color: #3A3E3E;
}