.fileinput{
	margin-left: 30%;
}

.navbar-default{
	margin-top: 25px;
}

.active{
	margin-top: 0px;
}

.modal{
	font-size: 1em;
}

body.modal-open {
    overflow: hidden;
}

.modal-text-header{
	font-size: 1.2em;
	font-weight: bold;
}