html,
body {
  height: auto;
  width: 100%;
  margin-bottom: 160px;
  font-family: 'Open Sans', sans-serif;
}

.pad-section { padding: 50px 0; }

.pad-section img { width: 100%; }

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#box1 {
  color: white;
  display: table;
  height: 300px;
  width: 100%;
  background-color: transparent;
}

#box-box1{
  background-image: url('../images/banner.jpg');
  position: fixed;
  height: 500px;
  width: 100%;
  z-index: -2;
}

#box-box2{
  background-color: rgba(255,153,0,0.5);
  height: 300px;
  width: 100%;
  position: fixed;
  z-index: -1;
}

#box2, #box4, #box6 {
  background: #3A8285 url("../images/background.jpg") no-repeat scroll 50% 50% / cover;
  color: white;
  font-size: 1.1em;
}

#box3, #box5 {
  height: 100%;
  background-color: white;
}

#box3 .glyphicon{
  font-size: 100px;
  color: #49A3A7;
}

.box3-judul{
  background-color: #3A3E3E;
  color: white;
}

#box3 hr, #box5 hr{
  border-color: black;
}

.navbar-default{
  border-radius: 0;
}

.navbar-default .navbar-nav > .active > a{
	margin-bottom: 0;
}

.navbar{
	margin-bottom: 0;
  padding-bottom: 0;
  border: 0px;
}

#goToTop {
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 1;
  background-color: #3A3E3E;
  transition : background-color 0.3s ease-in;
  border-color: transparent;
  border-radius: 0px;
}

.navbar-nav > li > a{
  font-weight: 700;
  font-size: 0.9em;
}

.navbar-default .navbar-nav > li > a:hover, #goToTop .navbar-nav > li > a:hover{
  color: white;
  background-color: #FF8F26;
  transition : background-color 0.3s ease-in,
          color 0.3s ease-in;
}

#goToTop .navbar-nav > li > a,#goToTop .navbar-brand{
	background-color: #3A3E3E;
	color: white;
	transition : background-color 0.3s ease-in,
					color 0.3s ease-in;
}

#goToTop .navbar-nav > .active > a{
  background-color: rgba(2,2,2,0.6);
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
}

nav li { background: #f8f8f8; }

.fileinput{
	margin-left: 30%;
}
 
.modal{
	font-size: 1em;
}

.input, .modal-content, .thunmbnail, .btn, .fileinput-preview{
	border-radius: 0;
}

body.modal-open {
    overflow: hidden;
}

.modal-text-header{
	font-size: 1.2em;
	font-weight: bold;
}

.modal-header{
  background-color: #3A3E3E;
  color: white;
}

.modal-header button{
  color: red;
}

.close:hover{
  color: red;
}

.kami{
  height: 100px;
  width: 100px;
  border-radius: 90px;
  margin-left: 20%;
  color: black;
  z-index: -2;
}

.agha{
  background:url("../images/agha.jpg") no-repeat scroll 50% 50% / cover;
}.fikri{
  background:url("../images/fikri.jpg") no-repeat scroll 50% 50% / cover;
}.rio{
  background:url("../images/rio.jpg") no-repeat scroll 50% 50% / cover;
}.anwar{
  background:url("../images/anwar.jpg") no-repeat scroll 50% 50% / cover;
}.freddy{
  background:url("../images/freddy.jpg") no-repeat scroll 50% 50% / cover;
}

.layer{
  height: 100px;
  width: 100px;
  background-color: rgba(5,5,5,0.5);
  border-radius: 90px;
  padding-top: 40%;
  color: white;
  margin: 0;
  z-index: -1;
}

footer { 
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  z-index: -2;
  color: white;
  width: 100%;
  height: 160px;
  background: #3A3E3E none repeat scroll 0% 0%;
  font-weight: 400;
  font-size: 0.95em; 
}

footer span{
  color: #3A8285;
  font-weight: 600;
}

.footer-judul{
  font-size:1.1em;
  font-weight:600; 
  color:#A5B2B2;
}

footer a{
  color: white;
}

footer a:hover{
  text-decoration: none;
  color: #A5B2B2;
}

footer .glyphicon{ color: #3A8285; }