html,
body {
  height: auto;
  width: 100%;
  margin-bottom: 160px;
  font-family: 'Open Sans', sans-serif;
}

.input, .modal-content, .thunmbnail, .btn, .fileinput-preview{
	border-radius: 0;
}

body.modal-open{
	overflow: hidden;
}

.modal{
	text-align: center;
}

.modal-header{
  background-color: #90C564;
  color: white;
}

.modal-text-header{
	font-size: 1.2em;
	font-weight: bold;
}

.modal-header button{
  color: red;
}

.close:hover{
  color: red;
}

.navbar{
	padding-top: 100px;
	border: 0px;
	background-color: #3A3E3E;
	border-radius: 0;
	padding-bottom: -1px;
}

.navbar-default .navbar-nav > .active > a{
	background-color: white;
}

.navbar-default .navbar-nav > li{
	margin-left: 3px;
}

.navbar-default .navbar-nav > li > a, .navbar .navbar-header a{
	background-color: #90C564;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar .navbar-header a:hover{
	background-color: white;
	color: #3A3E3E;
}

.navbar .navbar-header{
	margin-left: 50px;
}

.navbar-default .navbar-nav > li > #kanan{
	margin-right: 50px;
}